<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/semantic.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Edit product</title>
</head>
<body>
    <h3 style="text-align: left; margin: left 10px;;"><a href="/">Home</a></h3>
    <h1 style="text-align:center">Edit Product</h1>
    <form action="/update" method="post" style="text-align: justify;">
    Name: <input type="text" name="txtName">
    <br><br>
    Price: <input type="text" name="txtPrice">
    <br><br>
    Description: <input type="text" name="txtDesc">
    <br><br>
    Picture URL:
    <input type="text" name="txtPic" id="">
    <br><br>
    <input type="submit" value="Edit"></form>
    {{!-- <form action="/update" method="post">
        <input type="hidden" name="id" value="{{prod._id}}">

        Product Name <input type="text" name="txtName" value="{{prod.name}}">
        <br>
        Price   <input type="text" name="txtPrice" value="{{prod.price}}">
        <br>
        Picture URL<input type="text" name="txtPic" value="{{prod.picture}}">
        <br> 
        <input type="submit" value="Update">
        <br>
    </form> --}}
</body>
</html>